body {
  background-color: #2A2839;
  font-size: 16px;
  font-weight: 100;
  color: white;
  margin: 0;
}
h1,h2,p {
  color: white;
}
select {
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  font-size: 16px;
}
input {
  color: white;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  border: none;
  outline: none;
  width: 100px;
}
button {
  color: white;
  background-color: cadetblue;
  border: none;
  outline: none;
  width: 120px;
  height: 25px;
}
button:active {
  background-color: rgb(63, 104, 106);
}
.main-btn {
  background-color: cadetblue;
}
.secondary-btn {
  background-color: gray;
}

.container {
  position: fixed;
  margin-left: 20px;
}

.modal {
  opacity: 0.0;
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 10%;
}

.footer {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  padding-left: 20px;
  overflow: scroll;
}

.info-text {
  font-size: 12px;
  color: rgb(125, 125, 125) !important;
}